@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3a3a3a;
  display: flex;
  align-items: center;
  justify-content: center;
}
